* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  font-weight: 200;
  font-style: normal;
  position: relative;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section main {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  justify-content: center;
}

section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px rgb(45, 220, 255);
  align-items: center;
  justify-content: center;
}

section main h2 {
  font-weight: 600;
  color: aliceblue;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  padding: 10px;
  color: antiquewhite;
  text-decoration: none;
  border-radius: 5px;
  gap: 20px;
  transition: 0.3s;
}

section main a:hover {
  background-color: aqua;
  color: black;
}

section main a i {
  font-size: 1.4em;
}

section footer p {
  color: white;
  font-size: 0.7em;
  padding: 20px;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section footer p a {
  color: white;
  font-weight: 100;
  text-decoration: none;
}
